*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #639cd9;
    margin: 0;
    padding: 0;
}

.container{
    height: 640px;
    width: 640px;
    border: 1px solid whitesmoke;
    float: center;
    margin: auto;
    padding: 0;
}

.naslov{
    color: #393e6f;
    margin: 15px;
}

.orientation{
    background-color: #393e6f;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.dugme{
    color: whitesmoke;
    background-color: #393e6f;
    border: none;
    margin: 0;
    height: 50px;
    padding: 15px;
}

.dugme:hover{
    background-color: #c7eeff;
    color: #393e6f;
}

.p{
    color: whitesmoke;
    padding-right: 10px;
    margin-top: auto;
    margin-bottom: auto;

}

.tekst{
    height: 110px;
    overflow-y: scroll;
    background-color: #393e6f;
    color: whitesmoke;
    border: 2px solid whitesmoke;
}

.velikaslika{
    height: 480px;
    float: center;
    border: 0;
    padding: 0;
    margin: 0;
}

.slicica{
    width: 60px;
    height: 40px;
    border: 0px;
    margin: 0;
    padding: 0;
}

.traka{
    padding: none;
}


