body{
    background-color: palegoldenrod;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
    color: darkred;
}

p{
    text-align: center;
}